root {
  --primary-color: #E50914;
  --bg-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../assets/capa.jpg') no-repeat;
  background-size: cover;
 
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hidden;
}


header .content {
  display: flex;
  align-items: center;
  justify-content: start;

  padding: 12px 42px;
}

.content a,
.nav-settings a:nth-child(2) {
  text-decoration: none;
  color: #f7f7f7;
  margin-right: 16px;
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.nav-settings a:nth-child(2) {
  margin-right: 0;
}

.content a:hover,
.nav-settings a:nth-child(2):hover {
  opacity: .9;
}

.content a.active {
  font-weight: bold;
}

.content .logo {
  margin-right: 16px;
}

.nav-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-settings a {
  margin-left: 32px;
}

.nav-settings a:last-child {
  padding: 0 64px 0 0;
}

.dropdown img:first-child {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown img:last-child {
  margin-left: 8px;
}

main {
  background: var(--bg-color);
}

.container {
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 48px;
}

.description {
  color: #FFF;
  text-align: start;
}