root {
  --primary-color: #E50914;
  --bg-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #141414;
 
  font-family: sans-serif;
}

#container {
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../assets/capa.jpg') no-repeat;
  background-size: cover;
  height: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}


header .content {
  display: flex;
  align-items: center;
  justify-content: start;

  padding: 12px 42px;
}


.content a,
.nav-settings a:nth-child(2) {
  text-decoration: none;
  color: #f7f7f7;
  margin-right: 16px;
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

.nav-settings a:nth-child(2) {
  margin-right: 0;
}

.content a:hover,
.nav-settings a:nth-child(2):hover {
  opacity: .9;
}

.content a.active {
  font-weight: bold;
}

.content a.active {
  opacity: 1;
}

.content .logo {
  margin-right: 16px;
}

.nav-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-settings a {
  margin-left: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-settings a:last-child {
  padding: 0 64px 0 0;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown img:first-child {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.dropdown img:last-child {
  margin-left: 16px;
}

.container {
  height: 560px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 64px;
}

.description {
  color: #FFF;
  text-align: start;
  margin-bottom: 1rem;
  line-height: 1.45rem;
  font-size: 1.15rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > button  {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: .75rem 1.6rem;
  border-radius: 4px;
  
  font-weight: bold;
  font-size: 1.125rem;
  
  cursor: pointer;
}

.watch-btn {
  border: 1px solid #EFEFEF;
  margin-right: 12px;
  opacity: 1;
}

.watch-btn:hover {
  opacity: .9;
}

.info-btn {
  background: #6d6d6eb3;
  color: #FFF;
  border: none;
}

.info-btn:hover {
  backdrop-filter: brightness(80%);
}

.watch-btn > img,
.info-btn > img {
  margin-right: 12px;
}

.carousel > h3{
  color: #e5e5e5;
  margin-bottom: 8px;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 6px;
}

.keen-slider,
h3 {
  padding-left: 64px;
}



